body {
    background-color: antiquewhite;
    align-items: baseline;

}
form input{
    background-color: black;
    color:aliceblue;
}
form button{
    color:antiquewhite;
    font-size: medium;
}
ul li{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: medium;
}
h1 {
    color:blue;
}
form select{
    color:black;
    margin-left: 25px;
    

}
a {
    color:blueviolet;
    margin-left: 50px

}
a:hover{
    color:black;
    animation:forwards;
    
}